.section-box {
    padding: .5rem;
    margin: .8rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #ebecf0;
    
  }
  .section-box-body{
    margin: 0px;
    padding: 0px;

  }
  
  h3{
    margin: 0;
    padding: 0;
  }
  .section-box-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .section-box-header button{
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease;
  }
  .section-box-header button:hover {
    background-color: rgb(124, 192, 124);
    transform: scale(1.1);
  }
  