.section-box {
    padding: .5rem;
    margin: .8rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #ebecf0;
  }
  h3{
    margin: 0;
    padding: 0;
  }
  .section-box-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  