.card-main{
    margin: .2rem .1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease;
    cursor: pointer;
    cursor: grab;

}
.card-main:active{
    opacity: 0.8;
    border: 1px solid black;
}
.card-title{
    font-size:large;
    text-decoration: underline;
    text-align: left;
}
.card-description{
    text-align: left;
}
.card-text,.card-title{
    margin-bottom: 0;
    text-overflow: ellipsis;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
}
.card-main:hover{
    transform: scale(1.1);
}